{layout name="./common/father" \}
<div class="container-mypassword">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div class="panel panel-body">
            <form id="passwordform" class="form-horizontal" role="form">
                <p>请输入当前密码：</p>
                <input id="input1" name="oldpass" type="password" class="form-control">
                <p>请输入新密码：</p>
                <input id="input2" name="newpass" type="password" class="form-control" >
                <input id="input3" name="comfirm_newpass" type="password" class="form-control" >
                <span id="modify" class="btn btn-block">确定</span>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="myfuntion col-lg-2">
        <span class="btn btn-block" id="goto1">
            借阅记录
        </span>
        <span class="btn btn-block" id="goto2">
            我的评论
        </span>
        <span class="btn btn-block" id="goto3">
            修改密码
        </span>
    </div>
</div>

<script>
    $().ready(function () {
        $("#passwordform").validate({
            rules:{
                oldpass:{
                    required:true,
                },
                newpass:{
                    required:true,
                    minlength:6
                },
                comfirm_newpass:{
                    required:true,
                    minlength:6,
                    equalTo: "#input2"
                }
            },
            messages:{
                oldpass:"请输入当前密码",
                newpass:{
                    required:"请输入密码",
                    minlength:"密码长度不小于6"
                },
                comfirm_newpass:{
                    required:"请输入密码",
                    minlength:"密码长度不小于6",
                    equalTo:"两次密码输入不一致"
                }
            }
        })
    });
    $("#modify").click(function () {
        $.ajax({
            type:'post',
            url:'/afmodifypass',
            async:false,
            dataType:'json',
            data:{
                oldpass:$("#input1").val(),
                newpass:$("#input2").val(),
                renewpass:$("#input2").val(),
            },
            success:function (resD) {
                let res = JSON.parse(resD);
                if(res["isSucceed"]==0){
                    alert("修改成功");
                    window.location.href="/reader";
                }
                if(res["error"]==0){
                    alert("当前密码错误");
                }
            },
            error:function () {

            }
        })
    });
</script>

